
.box1{
    background-color: black;
    height: 50px;
}
.box2{
    background-color: blue;
    height: 357;
    width: 45%;
    display: inline-block;
    
}
.box3{
    margin-top: 20px;
    background-color: red;
    height: 316;
    width: 50%;
    display: inline-block;
}
.box4{
     border: 2px solied rgb(143, 38, 38);
     background-color: red;
    height: 50px;
}
